<p><img alt="Piled Higher and Deeper by Jorge Cham, http://www.phdcomics.com" src="../fig/phd101212s.gif" /></p>
<hr/>
<p><img alt="Changes Are Saved Sequentially" src="../fig/play-changes.svg" /></p>
<hr/>
<p><img alt="Different Versions Can be Saved" src="../fig/versions.svg" /></p>
<hr/>
<p><img alt="Multiple Versions Can be Merged" src="../fig/merge.svg" /></p>
<hr/>
<p><img alt="Creating a Repository on Bitbucket (Step 1)" src="../fig/bitbucket-create-repo-01.png" /></p>
<hr/>
<p><img alt="Creating a Repository on Bitbucket (Step 2)" src="../fig/bitbucket-create-repo-02.png" /></p>
<hr/>
<p><img alt="Creating a Repository on Bitbucket (Step 3)" src="../fig/bitbucket-create-repo-03.png" /></p>
<hr/>
<p><img alt="Bitbucket Repository After First Push" src="../fig/bitbucket-repo-after-first-push.svg" /></p>
<hr/>
<p><img alt="After Creating `work` and `home` Clones of Repository" src="../fig/hg-after-home-work-clones.svg" /></p>
<hr/>
<p><img alt="After Pushing Change from `work` Repository" src="../fig/hg-after-change-to-work-clone.svg" /></p>
<hr/>
<p><img alt="After Pulling Change to 'home' Repository" src="../fig/hg-after-pulling-to-home-clone.svg" /></p>
<hr/>
<p><img alt="Creating a Repository on Bitbucket" src="../fig/bitbucket-create-repo-02.png" /></p>
<hr/>
<p><img alt="Repository Access Management Settings" src="../fig/bitbucket-repo-access-mgmt.png" /></p>
<hr/>
<p><img alt="KDiff3 Merge Conflict" src="../fig/hg-kdiff3-conflict.png" /></p>
