<p><img alt="Piled Higher and Deeper by Jorge Cham, http://www.phdcomics.com" src="{{ site.github.url }}/fig/phd101212s.gif" /></p>
<hr/>
<p><img alt="Changes are saved sequentially" src="{{ site.github.url }}/fig/play-changes.svg" /></p>
<hr/>
<p><img alt="Different versions can be saved" src="{{ site.github.url }}/fig/versions.svg" /></p>
<hr/>
<p><img alt="Multiple versions can be merged" src="{{ site.github.url }}/fig/merge.svg" /></p>
<hr/>
<p><img alt="Creating a Repository on Bitbucket (Step 1)" src="{{ site.github.url }}/fig/bitbucket-create-repo-01.png" /></p>
<hr/>
<p><img alt="Creating a Repository on Bitbucket (Step 2)" src="{{ site.github.url }}/fig/bitbucket-create-repo-02.png" /></p>
<hr/>
<p><img alt="Creating a Repository on Bitbucket (Step 3)" src="{{ site.github.url }}/fig/bitbucket-create-repo-03.png" /></p>
<hr/>
<p><img alt="Bitbucket Repository After First Push" src="{{ site.github.url }}/fig/bitbucket-repo-after-first-push.svg" /></p>
<hr/>
<p><img alt="After Creating `work` and `home` Clones of Repository" src="{{ site.github.url }}/fig/hg-after-home-work-clones.svg" /></p>
<hr/>
<p><img alt="After Pushing Change from `work` Repository" src="{{ site.github.url }}/fig/hg-after-change-to-work-clone.svg" /></p>
<hr/>
<p><img alt="After Pulling Change to 'home' Repository" src="{{ site.github.url }}/fig/hg-after-pulling-to-home-clone.svg" /></p>
<hr/>
<p><img alt="Creating a Repository on Bitbucket" src="{{ site.github.url }}/fig/bitbucket-create-repo-02.png" /></p>
<hr/>
<p><img alt="Repository Access Management Settings" src="{{ site.github.url }}/fig/bitbucket-repo-access-mgmt.png" /></p>
<hr/>
<p><img alt="KDiff3 Merge Conflict" src="{{ site.github.url }}/fig/hg-kdiff3-conflict.png" /></p>
